---
layout: default
refactor: true
---
{% include lang.html %}

<style>
  .posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    margin: 2rem 0;
  }

  .post {
    background: #fafafa;
    border: 1px solid #e2e2e2;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.2s ease;
  }

  .post:hover {
    transform: translateY(-4px);
  }
  .shimmer::before{
  background:none;
}
</style>

<h1>Flows</h1>

<p>Here you will find short, focused walkthroughs for building and implementing automation flows on a number of different platforms.</p>

{% assign posts_with_flow_tag = site.posts | where_exp: "item", "item.tags contains 'flow'" %}
<section class="posts-grid">
{% for post in posts_with_flow_tag %}
    <article class="post" >
      <h2>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
      <p>{{ post.description | strip_html | truncate: 160 }}</p>
    </article>
  {% endfor %}
</section>


<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
