---
layout: default
refactor: true
---
{% include lang.html %}

<style>
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
  }

  .post {
    background: #fafafa;
    border: 1px solid #e2e2e2;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.2s ease;
  }

  .post:hover {
    transform: translateY(-4px);
  }
  .shimmer::before{
  background:none;
}
</style>

<h1>Tutorials</h1>

<p>Welcome to my toutorials page.</p>

<img src='/assets/img/power-automate-101-banner.svg'/>
<p>Welcome to <b>Power Automate 101</b> — your step-by-step guide to getting started with automation. In this series, you’ll learn how flows work, how to trigger them,
  and how to connect to services like SharePoint, Outlook, and even popular third-party apps. You’ll also explore how to use conditions, manage variables,
  and build powerful automations to simplify your daily tasks.</p>
<section class="posts-grid">
  {% for post in site.tutorials %}
    <article class="post" >
      <img src='/assets/img/power-automate-101-banner-02.svg'/>
      <h3>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h3>
      {% if post.date %}
        <p class="post-date">{{ post.date | date: '%B %d, %Y' }}</p>
      {% endif %}
      <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
    </article>
  {% endfor %}
</section>
<hr/>
<div>
  <img src='/assets/img/node-red-banner.svg'/>
  <p><i>Comming Soon...</i></p>
</div>

<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
